[submodule "dependencies/libmusicxml"]
	path = dependencies/libmusicxml
	url = https://github.com/grame-cncm/libmusicxml.git
[submodule "dependencies/cmask"]
	path = dependencies/cmask
	url = https://github.com/gogins/cmask.git
[submodule "dependencies/portsmf"]
	path = dependencies/portsmf
	url = https://github.com/rbdannenberg/portsmf.git
[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/CImg"]
	path = dependencies/CImg
	url = https://github.com/GreycLab/CImg.git
